<h2>Customer Details Form</h2>

<form [formGroup]="customerForm" (ngSubmit)="onSubmit(); customerForm.reset()">
  <div class="form-group" [ngClass]="customerForm.get('name').dirty && customerForm.get('name').invalid ? 'has-error' : ''">
    <label class="control-label">Name:</label>
    <input type="text" class="form-control" placeholder="Customer Name Here" formControlName="name">
    <span class="help-block" *ngIf="customerForm.get('name').hasError('required') && customerForm.get('name').dirty">
      Name is required
    </span>
    <span class="help-block" *ngIf="customerForm.get('name').hasError('minlength') && customerForm.get('name').dirty">
      Name should be at least {{ customerForm.get('name').errors.minlength.requiredLength }} characters long. You have entered {{ customerForm.get('name').errors.minlength.actualLength }}.
    </span>
    <span class="help-block" *ngIf="customerForm.get('name').hasError('maxlength') && customerForm.get('name').dirty">
      Name should be 5 characters max.
    </span>
  </div>
  <div class="form-group" [ngClass]="customerForm.get('age').dirty && customerForm.get('age').invalid ? 'has-error' : ''">
    <label class="control-label">Age:</label>
    <input type="text" class="form-control" placeholder="Customer Age" formControlName="age">
    <span class="help-block" *ngIf="customerForm.get('age').hasError('invalidAge') && customerForm.get('age').dirty">
      Age should be greater than or equal to 18.
    </span>
    <span class="help-block" *ngIf="customerForm.get('age').hasError('isNotANumber') && customerForm.get('age').dirty">
      Age should be a number.
    </span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Submit</button>
</form>

<br>
Form Value: {{ customerForm.value | json }}
<br>
Is Form Valid: {{ customerForm.valid }}
<br>
Errors in name field: {{ customerForm.get('name').errors | json }}
<br>
Errors in age field: {{ customerForm.get('age').errors | json }}

